@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Slab:wght@700&display=swap');

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #ccc3db;
    color: #3e3e41;
  }
  
  h1,
  h2,
  h3 {
    font-family: 'Roboto Slab', sans-serif;
    color: #222224;
  }
  
  button,
  .btn {
    cursor: pointer;
    font: inherit;
    padding: 0.5rem 1.5rem;
    background-color: #350490;
    border: 1px solid #350490;
    color: white;
    border-radius: 4px;
    text-decoration: none;
  }
  
  button:hover,
  .btn:hover {
    background-color: #230161;
    border-color: #230161;
  }
  
  #main-header {
      width: 100%;
      text-align: center;
      padding: 2rem 0;
  }
  
  #main-header h1 {
      font-size: 1.5rem;
  }
  
  #main-logo {
      font-size: 3rem;
      font-family: 'Roboto Slab', sans-serif;
      text-decoration: none;
      color: #350490;
      font-weight: bold;
  }

.card{
   margin-left: 500px;
    /* margin-right: 300px; */
    margin-top: 100px;
    width: 50%; 
}

section {
    max-width: 40rem;
    margin: 3rem auto;
  }
  
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .meetup-item {
    margin: 1rem 0;
    background-color: #350490;
    padding: 2rem;
    color: white;
    border-radius: 4px;
  }
  
  .article-summary {
    display: flex;
    align-items: flex-start;
  }
  
  .article-image {
    margin-right: 2rem;
  }
  
  .article-image img {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .article-details h3 {
    color: inherit;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 2rem;
  }
  
  .article-details address {
    font-style: italic;
  }
  
  .article-actions {
    margin-top: 1.5rem;
    text-align: right;
  }
  
  .article-actions .btn {
    background-color: #cb82fb;
    border-color: #cb82fb;
    color: #350490;
    padding: 0.75rem 2rem;
  }
  
  .article-actions .btn:hover {
    background-color: #ba82fb;
    border-color: #ba82fb;
  }









#main-header {
    width: 100%;
    text-align: center;
    padding: 2rem 0;
}

.article-title-container{
    background-color: darkolivegreen;
}

.article-title{
    text-decoration: none;
    color: black;
}

.container{
    background-color: darkolivegreen;
}